output/
docs/public/
docs/resources/
.DS_Store
**/.DS_Store
**/**/.DS_Store
.hugo_build.lock
docs/content/docs/artifacts/
docs/content/docs/models/

velosigmac
velosigmac.exe
.wordlist.dict
tests/velociraptor
tests/velociraptor.exe
.vscode/
